
<%if signed_in? %>
  <%if !@user_searches.nil?%>
    <table border="1" cellpadding = "5" cellspacing = "5">
      <tr>
        <th>Recent Search for Artist</th>

      </tr>
      <%@user_searches.each do |date, value|%>
        <%value.each do|info| %>
          <tr>
            <td><%= link_to info.searches, search_action_path(q:info.searches) %></td>
          </tr>
        <%end %>
        </table>

      <% end %>

  <%end %>
<%end%>
