---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=1ca2cf614eeaa185c2b61753b434b599&artist=cher&format=json&method=artist.gettoptracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"toptracks":{"track":[{"name":"Believe","playcount":"2330061","listeners":"479239","mbid":"32ca187e-ee25-4f18-b7d0-3b6713f24635","url":"https://www.last.fm/music/Cher/_/Believe","streamable":"0","artist":{"name":"Cher","mbid":"bfcc6d75-a6a5-4bc6-8282-47aec8531818","url":"https://www.last.fm/music/Cher"},"image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"If
        I Could Turn Back Time","playcount":"1225304","listeners":"307666","mbid":"f4c5bb31-0ef0-4cdd-9df1-30b368c4e69a","url":"https://www.last.fm/music/Cher/_/If+I+Could+Turn+Back+Time","streamable":"0","artist":{"name":"Cher","mbid":"bfcc6d75-a6a5-4bc6-8282-47aec8531818","url":"https://www.last.fm/music/Cher"},"image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/[...]
